/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.top-section{
    display: flex;
    justify-content:space-between;
    background-color: black;
    width: 1320px;
    border-radius: 30px;
    margin-top: 50px;
    margin-right: 140px;
    margin-left: 50px;

}
.top-banner{
    margin-top: 110px;
    margin-left: 105px;
}
.top-banner h1{
    color: white;
    font-family: 'Poppins';
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    margin-bottom: 20px;
}

.top-banner p{
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.btn-1{
    
    font-family: 'poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    background: #DD0000;
    color: white;
    height: 56px;
    width: 187px;;
    border-radius: 5px;
    padding: 16px 25px 16px 25px;

}
.fa-chevron-right{
    color: white;
}
.top-section img{
    height: 620px;
    width: 581px;
    position: relative;
    margin-top: 30px;
    margin-right: 80px;
    top: 4px;
    
}


/* Middle section */
.mid-part{
    display: flex;
    margin-top: 130px;
}

.card-button{
    background-color: #161616;
    height: 312px;
    width: 312px;
    border-radius: 10px; 
    padding-top: 30px;   
    padding-left:30px;   
    margin-left:50px ;
    margin-right: 24px;
}
.white-btn, .white-btn-2, .white-btn-1{
    height: 64px;
    width: 252px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 17px;
}
.card-button a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;  
}
.red-btn{
    background-color: #DD0000;
    height: 64px;
    width: 252px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    padding-top: 17px;
}
.red-btn a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* Grid items */

.grid-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px ;
}
.items{
    height: 362px;
    width: 312px;
    border-radius: 5px;
    border: 2px solid  rgb(175, 172, 172);
}
.grid-img img{
    width: 308px;
}
.grid-btn{
    height: 32px;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.grid-btn a{
    text-decoration: none;
    border: 1px solid #161616;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    padding: 4px 16px;

}
.grid-details h3{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-top: 15PX;
    margin-left: 20px;
}
.grid-icons{
    display: flex;
    margin-top: 20px;
}
.grid-icons img{
    padding-left: 20px;
}
.icon-info{ 
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #161616B2;
    padding-left: 5px;
    
}

footer{
    margin-top: 130px;
    height: 444px;
    width: 1600px;
    left: 0px;
    top: 2090px;
    border-radius: 0px;
    background: #161616;

}
.footer-head{
    font-family: 'Poppins';
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 130px;
}
hr{
    margin-top: 50px;
    border: 1px solid #FFFFFF1A;
}

.footer-info{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 350px;
}

.footer-info p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #B9B9B9;
    
}


/* Fixture Styles */

.match{
    display: flex;
    justify-content: space-evenly;
}
.match p{
    font-family:'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 22px 20px;
    margin-bottom: 10px;
    
}
.fixture{
    height: 242px;
    width: 312px;
    border-radius: 5px;
    border: 2px solid  rgb(175, 172, 172);
    text-align: center;
    padding: 53px 30px;
}
.fixture h2{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;

}
.versus{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #161616;
}
.fixture >p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color:  #4D4D4D;
    margin-top: 10px;
}

.fixture-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px ;
}

.red-btn-2{
    background-color: #DD0000;
    height: 64px;
    width: 252px;
    border-radius: 10px;
    text-align: center;
    padding-top: 17px;
}

.red-btn-2 a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.white-btn-1{
    margin-top: 30px;
}

/* For mobile */
@media only screen and (max-width:688px){
    body{
        width: 100%;
    }
    .top-section{
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .top-banner{
        margin: 28px 38px;
    }
    .top-banner h1{
        font-family: 'Poppins';
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: center;
        padding: 0;
    }
    .top-banner p{
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;

    }

    .top-photo img{
        width: 90%;
        height: 100%;
        padding-left: 63px;
    }
    .btn-1{
        margin-left: 25px;
    }
    .card-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 176px;
        width: 210px;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 20px;
        padding-left: 0;
    }
    .white-btn{
        height: 48px;
        width: 210px;
        border-radius: 10px;
        border: 1px solid #E8E8E8;
        background-color: white;
    }
    .white-btn-2{
        height: 48px;
        width: 160px;
        border-radius: 10px;
        border: 1px solid #E8E8E8;
        
    }
    .red-btn{
        height: 48px;
        width: 160px;
        border-radius: 10px;
        margin: 0;
        
    }
    .mid-part{
        flex-direction: column;
        margin-top: 20px;
    }
    .grid-items{
        grid-template-columns: repeat(1,1fr);
    }
    .items{
        margin:24px auto;
    }

    footer{
        margin-top: 130px;
        height: 100%;
        width: 100%;
        background: #161616;
    }
    .footer-head{
        font-family: 'Poppins';
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: center;

    }
    .footer-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-bottom: 10px;
    }
    .footer-info p{
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0px;
        text-align: center;
    }
}